In [27]:
import pandas as pd
import os
import re
import datetime

In [28]:
def getDate(filename):
    match_str = re.search(r'\d{4}-\d{2}-\d{2}',filename)
    try:
        return datetime.datetime.strptime(match_str.group(), '%Y-%m-%d').date()
    except ValueError:
        return None

In [38]:
#using csv and xlsx
csv_dir = 'ukraine_data_excel'

In [30]:
#using xlsx
sheet1_df = []
sheet2_df = []
sheet3_df = []

In [39]:
#using xlsx
for filename in os.listdir(csv_dir):
  if filename.endswith('.xlsx'):
    file_path = os.path.join(csv_dir,filename)
    excel_df = pd.ExcelFile(file_path)
    files_date = getDate(filename)
    for sheet in excel_df.sheet_names:
      df = pd.read_excel(excel_df,sheet_name=sheet)
      df['DATE'] = files_date
      df.columns = df.columns.str.upper()
      if sheet == 'Num_of_Orgs_by_Oblast':
        sheet1_df.append(df)
      elif sheet == 'People_Reached_by_Oblast':
        sheet2_df.append(df)
      elif sheet == 'UDE_Inputs':
        sheet3_df.append(df)

In [40]:
combined_sheet1 = pd.concat(sheet1_df, keys=[str(df['DATE'].iloc[0]) for df in sheet1_df])
res_sheet1 = combined_sheet1.groupby(['ADMIN1_ID', 'DATE']).sum().reset_index()
merged_sheet1 = pd.merge(res_sheet1, combined_sheet1[['ADMIN1_ID', 'DATE', 'OBLAST']], on=['ADMIN1_ID', 'DATE'], how='left')

C:\Users\rober\AppData\Local\Temp\ipykernel_21524\3247654741.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  res_sheet1 = combined_sheet1.groupby(['ADMIN1_ID', 'DATE']).sum().reset_index()

In [43]:
combined_sheet2 = pd.concat(sheet2_df, keys=[str(df['DATE'].iloc[0]) for df in sheet2_df])
res_sheet2 = combined_sheet2.groupby(['ADMIN1_ID', 'DATE']).sum().reset_index()
merged_sheet2 = pd.merge(res_sheet2, combined_sheet2[['ADMIN1_ID', 'DATE', 'OBLAST']], on=['ADMIN1_ID', 'DATE'], how='left')

C:\Users\rober\AppData\Local\Temp\ipykernel_21524\3947036614.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  res_sheet2 = combined_sheet2.groupby(['ADMIN1_ID', 'DATE']).sum().reset_index()

In [44]:
combined_sheet3 = pd.concat(sheet3_df, keys=[str(df['DATE'].iloc[0]) for df in sheet3_df])
res_sheet3 = combined_sheet3.groupby(['ADMIN1_ID', 'DATE']).sum().reset_index()
merged_sheet3 = pd.merge(res_sheet3, combined_sheet3[['ADMIN1_ID', 'DATE', 'OBLAST']], on=['ADMIN1_ID', 'DATE'], how='left')

C:\Users\rober\AppData\Local\Temp\ipykernel_21524\2370811461.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  res_sheet3 = combined_sheet3.groupby(['ADMIN1_ID', 'DATE']).sum().reset_index()

In [45]:
#Num_of_Orgs_by_Oblast
merged_sheet1.head()

,ADMIN1_ID,DATE,CCCM,CCS,ETC,EDUCATION,FSL,HEALTH,MPC,NUTRITION,...,SHELTER,WASH,TOTAL,FSL*,LOGISTICS,SHELTER/NFI,PROTECTION CP,PROTECTION GBV,PROTECTION MA,OBLAST
0,UA05,2022-04-28,2.0,1.0,1.0,5.0,17.0,16,10.0,0.0,...,6.0,7,42,0.0,0.0,0.0,0.0,0.0,0.0,Vinnytska
1,UA05,2022-05-06,2.0,1.0,1.0,5.0,20.0,17,10.0,0.0,...,6.0,8,45,0.0,0.0,0.0,0.0,0.0,0.0,Vinnytska
2,UA05,2022-05-12,2.0,1.0,1.0,6.0,20.0,18,10.0,0.0,...,6.0,9,49,0.0,0.0,0.0,0.0,0.0,0.0,Vinnytska
3,UA05,2022-05-19,2.0,1.0,1.0,6.0,20.0,20,10.0,0.0,...,6.0,9,50,0.0,0.0,0.0,0.0,0.0,0.0,Vinnytska
4,UA05,2022-05-26,0.0,1.0,1.0,6.0,20.0,20,9.0,0.0,...,7.0,9,48,0.0,0.0,0.0,0.0,0.0,0.0,Vinnytska

In [46]:
#People_Reached_by_Oblast
merged_sheet2.head()

,ADMIN1_ID,DATE,FSL,GENERAL PROTECTION,CP,MINE ACTION,PROTECTION TOTAL,HEALTH,MPC,SHELTER/NFI,WASH,TOTAL REACHED,PROTECTION\n TOTAL,PEOPLE REACHED,GENERAL\n PROTECTION,OBLAST
0,UA05,2022-04-28,7900,0.0,100.0,500.0,11900.0,4600,91200.0,15800,2300.0,91200.0,0.0,0.0,11200.0,Vinnytska
1,UA05,2022-05-06,14300,9600.0,100.0,500.0,14300.0,4600,113000.0,16200,2300.0,113000.0,0.0,0.0,0.0,Vinnytska
2,UA05,2022-05-12,15500,11400.0,200.0,500.0,16300.0,9900,138800.0,17500,3700.0,138800.0,0.0,0.0,0.0,Vinnytska
3,UA05,2022-05-19,17500,0.0,500.0,500.0,20300.0,23200,140600.0,17500,3700.0,140600.0,0.0,0.0,0.0,Vinnytska
4,UA05,2022-05-26,17600,0.0,4400.0,700.0,25600.0,23300,216600.0,21700,3800.0,216600.0,0.0,0.0,0.0,Vinnytska

In [47]:
#UDE_Inputs
merged_sheet3.head()

  ADMIN1_ID        DATE  PEOPLE REACHED  NUMBER OF ORGANISATIONS     OBLAST
0      UA05  2022-04-28           91200                       42  Vinnytska
1      UA05  2022-05-06          113000                       45  Vinnytska
2      UA05  2022-05-12          138800                       49  Vinnytska
3      UA05  2022-05-19          140600                       50  Vinnytska
4      UA05  2022-05-26          216600                       48  Vinnytska

In [48]:
merged_sheet1.columns

Index(['ADMIN1_ID', 'DATE', 'CCCM', 'CCS', 'ETC', 'EDUCATION', 'FSL', 'HEALTH',
       'MPC', 'NUTRITION', 'PROTECTION TOTAL', 'PC_CP', 'PC_GBV', 'PC_MA',
       'PC_PC', 'SHELTER', 'WASH', 'TOTAL', 'FSL*', 'LOGISTICS', 'SHELTER/NFI',
       'PROTECTION CP', 'PROTECTION GBV', 'PROTECTION MA', 'OBLAST'],
      dtype='object')